<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/LogoDlenha1.png" type="">
  

  <title> D'Lenha Hamburgueria</title>
 

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />


</head>

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="/images/hero-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              D'Lenha Hamburgueria
            </span>
            <img src="/images/LogoDlenha1.png" width="90px" height="85px" alt="">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="/abreinicial">Inicial <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addmenu">Criar Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menuadm">Menu Administrador </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pedidoscozinha">Pedidos Cozinha</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/caixa">Caixa </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admmesas">Comanda Eletrônica</a>
              </li>
              <li class="nav-item">
                <form method="post" action="/admsair">
                  <button type="submit" class="btn btn-link nav-link" style="font-size: 11px;">Sair</button>
                </form>
              </li>
            </ul>
            <div class="user_option">
            
              
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>