<!DOCTYPE html>
<html>

<head>
  <!-- Básico -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/LogoDlenha1.png" type="">

  <title> D'Lenha Hamburgueria</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>

  <!-- Foto de fundo da página inicial -->
  <div class="hero_area">
    <div class="bg-box">
      <img src="images/hero-bg.jpg" alt="">
    </div>

    <!-- inicio da sessão do cabeçalho -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="/">
            <span>
              D'Lenha Hamburgueria
            </span>
            <img src="images/LogoDlenha1.png" width="90px" height="85px" alt="">
            
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="/abreinicial">Inicial <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/addmenu">Criar Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menuadm">Menu Administrador </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pedidoscozinha">Pedidos Cozinha</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/caixa">Caixa </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admmesas">Mesas</a>
              </li>
              <li class="nav-item">
                <form method="post" action="/admsair">
                  <button type="submit" class="btn btn-link nav-link" style="font-size: 11px;">Sair</button>
                </form>
              </li>
            </ul>
            <div class="user_option">
              
                            
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- final da seção do cabeçalho -->
    <!-- slider inicio -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                <%Descricao.forEach(function(descricao){%>

                  <div class="detail-box">
                    <h1>
                      D'Lenha Hamburgueria
                    </h1>
                    <p>
                      <%=descricao.descricao%>
                    </p>
                    <%})%>
                    <div class="btn-box">
                      <a href="/edtdescricao" class="btn btn-primary" style="background-color: green; border-color: #28a745" >
                        Editar descrição
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <section class="offer_section layout_padding-bottom">
              <div class="offer_container">
                <div class="detail-box">
                <h1>
                  Novidades do nosso cardápio
                </h1>
              </div>
              <div class="container ">
                <div class="row">
                  <div class="col-md-6  ">
                    <div class="box ">
                      <div class="img-box">
                        <img src="images/burguerragnar.jpeg" alt="">
                      </div>
                      <div class="detail-box">
                        <h5>
                          Burguer Ragnar
                        </h5>
                        <a href="/menu">
                          Ver cardápio
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6  ">
                    <div class="box ">
                      <div class="img-box">
                        <img src="images/burguerbjorn.jpeg" alt="">
                      </div>
                      <div class="detail-box">
                        <h5>
                          Burguer Bjorn
                        </h5>
                        <a href="/menu">
                          Ver cardápio 
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </section>
          </div>
          
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li><!-- adiciona as divs de passar -->
            <li data-target="#customCarousel1" data-slide-to="1"></li>  <!-- adiciona as divs de passar -->
            <!-- <li data-target="#customCarousel1" data-slide-to="2"></li> adiciona as divs de passar -->
          </ol>
        </div>
      </div>
      
    </section>
    <!--  slider fim -->
  </div>

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  

</body>

</html>