 <!-- footer section -->
 <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contato
            </h4>
            <div class="contact_link_box">
              <a href="https://www.google.com/maps/place/Av.+Pres.+Vargas,+123+-+Centro,+Bag%C3%A9+-+RS,+96400-410/@-31.3248887,-54.104721,17z/data=!3m1!4b1!4m5!3m4!1s0x9506757364800713:0xc69ecbed13b8580a!8m2!3d-31.3248887!4d-54.104721">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Presidente Vargas 123, Bagé, Rio Grande do Sul, Brasil
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  5399932-2811
                </span>
              </a>
              <a href="https://www.instagram.com/dlenhahamburgueriabage/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <span>
                  dlenhahamburgueriabage
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Autor
            </a>
            <p>
              Mayara Gonçalves Duarte
            </p>
            <div class="footer_social">
      
              <a href="https://www.linkedin.com/in/mayara-duarte-a414a5234/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/mayaraduartez/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.facebook.com/mayara.duarte.35574">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Horário de funcionamento
          </h4>
          <p>
            Segunda à Domingo
          </p>
          <p>
            19:00 - 23:30
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
           <span id="displayYear"></span> 
          
           
          <a href="https://themewagon.com/" target="_blank"></a>
        </p>
      </div>
      
    </div>
  </footer>
  <!-- footer section -->
  
  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->
 
  
  </body>
  
  </html>