<%-include('./cabecalho.ejs')%>

  <!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Meu Carrinho
        </h2>
        <div class="carrinho">
          <ul class="lista-compras">
            <li>
              <span class="item">Item 1</span>
              <span class="valor">R$ 10,00</span>
              <span class="quantidade">x 2</span>
              <span class="total">R$ 20,00</span>
              <button class="btn-apagar"><i class="fas fa-trash-alt"></i></button>
            </li>
            <li>
              <span class="item">Item 2</span>
              <span class="valor">R$ 15,00</span>
              <span class="quantidade">x 1</span>
              <span class="total">R$ 15,00</span>
              <button class="btn-apagar"><i class="fas fa-trash-alt"></i></button>
            </li>
            <li>
              <span class="item">Item 3</span>
              <span class="valor">R$ 5,00</span>
              <span class="quantidade">x 3</span>
              <span class="total">R$ 15,00</span>
              <button class="btn-apagar"><i class="fas fa-trash-alt"></i></button>
            </li>
          </ul>
          <div class="total-carrinho">
            <span class="label">Total do Carrinho:</span>
            <span class="valor-total">R$ 50,00</span>
          </div>
        </div>
      </div>
      <div class="btn-box">
         <input type="submit" class="btn btn-success" href="/meuspedidos" value="Confirmar">
      </div>
    </form>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>

  <!-- end food section -->

  <%-include('./rodape.ejs')%>
 